$dark-grey: #272727;
$black: black;
$grey: #828282;

$error-red: #ea4335;
$error-red-200: #ffb3b3;
$error-red-900: #ff0000;

$light-grey: #f9f9f9;

$primary-color: #595ca9;
$primary-lighter-color: #a9aed4;
$primary-darker-color: #362e6f;

$accent-color: #bce132;
$accent-lighter-color: #cfeb73;
$accent-darker-color: #a4c634;

$tertiary-blue: #4d9de0;

$warning-orange: #f09021;

$white: #ffffff;
$primary-transparent: rgba(89, 92, 169, 0.05);

$pdf-viewer-background: #525659;
